/*이미지 크기 */
nav img {
    height: 3.5rem !important
}
nav img, nav svg {
    vertical-align: middle
}
fa-icon svg {
    display: inline-block;
    font-size: inherit;
    height: 1em
}

/* 네비게이션 바 */
.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: .5rem;
    --bs-navbar-color: rgba(0, 0, 0, .55);
    --bs-navbar-hover-color: rgba(0, 0, 0, .7);
    --bs-navbar-disabled-color: rgba(0, 0, 0, .3);
    --bs-navbar-active-color: rgba(0, 0, 0, .9);
    --bs-navbar-brand-padding-y: .3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: rgba(0, 0, 0, .9);
    --bs-navbar-brand-hover-color: rgba(0, 0, 0, .9);
    --bs-navbar-nav-link-padding-x: .5rem;
    --bs-navbar-toggler-padding-y: .25rem;
    --bs-navbar-toggler-padding-x: .75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --bs-navbar-toggler-border-color: rgba(0, 0, 0, .1);
    --bs-navbar-toggler-border-radius: .35rem;
    --bs-navbar-toggler-focus-width: .2rem;
    --bs-navbar-toggler-transition: box-shadow .15s ease-in-out;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}
.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: .5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.bg-white {
    background-color:white !important;
    /* --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important; */
}
.navbar-marketing.fixed-top, .nav-fixed .navbar-marketing.topnav, .nav-fixed #layoutSidenav .navbar-marketing#layoutSidenav_nav {
    max-height: 100vh;
    /*overflow-y: auto;*/
}
.navbar-marketing {
    padding-top: .9375rem;
    padding-bottom: .9375rem;
}
.shadow {
    box-shadow: 0 .15rem 1.75rem #21283226 !important;
}
.fixed-top, .nav-fixed #layoutSidenav #layoutSidenav_nav, .nav-fixed .topnav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

/* 컨테이너 */
.navbar>.nav-container, .navbar>.nav-container-fluid, .navbar>.nav-container-xl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.nav-container, .nav-container-fluid, .nav-container-xl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}
/* 컨테이너 */

/* 로고 */
.text-black {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-black-rgb), var(--bs-text-opacity)) !important;
}
a {
    text-decoration: none;
}
.ms-2 {
    margin-left: .5rem !important;
}

.navbar-brand {
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    white-space: nowrap;
}
.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width);
}
/*작을때 펼치기 버튼*/
.navbar-marketing .navbar-toggler {
    padding: .5rem;
    border: 0;
}


/*작을때 펼치기 버튼 끝*/



/* 헤더 */
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.me-auto {
    margin-right: auto !important;
}

/* 헤더끝 */



/* 내비게이션 바 요소들들 */
.navbar-marketing .navbar-nav .nav-item .nav-link {
    font-weight: 500;
}
.navbar-marketing .navbar-nav {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}
.navbar-light .navbar-nav .nav-link {
    color: #69707a !important;
}
.navbar-marketing .nav-link {
    font-size: .9rem;
    width: 100%;
}
.pointer {
    cursor: pointer !important;
}
.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
.dropdown .dropdown-toggle .dropdown-arrow {
    margin-left: .4rem;
    margin-right: 0;
    transition: transform .1s ease-in-out;
    font-size: .6em;
}
/* 요소 끝 */




/* 오른쪽 요소들 */
.nav-right {
    padding-top: 0;
    padding-bottom: 1.75rem;
}
/* 로그인 버튼 */
.navbar .btn {
    display: inline-flex;
    align-items: center;
    line-height: 1;
    height: 2.2rem;
    max-width: 4.5rem;
    font-size: .75rem;
    padding: 0 1rem;
    font-weight: 600;
    text-transform: none;
    letter-spacing: normal;
}
button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
    cursor: pointer;
}
.mb-3 {
    margin-bottom: 1rem !important;
}
.btn {
    --bs-btn-padding-x: 1.125rem;
    --bs-btn-padding-y: .875rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: .875rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1;
    --bs-btn-color: #69707a;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: .35rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    --bs-btn-disabled-opacity: .65;
    --bs-btn-focus-box-shadow: 0 0 0 .2rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #4f74df;
    --bs-btn-border-color: #4f74df;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb3026;
    --bs-btn-hover-border-color: #b02e24;
    --bs-btn-focus-shadow-rgb: 225, 87, 77;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b02e24;
    --bs-btn-active-border-color: #a52b22;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #dc392d;
    --bs-btn-disabled-border-color: #dc392d;
}


/* 검색 */
/* min-width */
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: var(--bs-navbar-nav-link-padding-x);
        padding-left: var(--bs-navbar-nav-link-padding-x);
    }
    .navbar-expand-lg .navbar-collapse {
        display: flex !important
;
        flex-basis: auto;
    }
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
    .nav-right {
        padding-top: 1.75rem;
    }
    .navbar-marketing, .nav-right {
        padding-top: 0!important;
        padding-bottom: 0!important;
    }
    .navbar-marketing .navbar-nav .nav-item {
        margin-right: 1rem;
    }
    .mb-lg-0 {
        margin-bottom: 0 !important;
    }
}
/*컨테이너 min width*/
@media (min-width: 576px) {
    .nav-container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .nav-container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .nav-container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .nav-container-xl,.nav-container {
        max-width:1140px
    }
}

@media (min-width: 1500px) {
    .nav-container-xl,.nav-container {
        max-width:1440px
    }
}
@media (min-width: 992px) {
    .my-navbar-search  {
        margin-right: 1rem;
    }
}
ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

@media(max-width: 992px) {
    
    .search-nobottom {
        padding-bottom: 0 !important
    }
}
@media(min-width: 992px) {
 .topbar-divider {
    width: 0;
    border-right: 1px solid #e3e6f0;
    height: calc(4.375rem - 2rem);
    margin: auto 1rem;
  }   
}


/* 드롭다운 메뉴 */
.dropdown-menu {
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 10rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: .5rem;
    --bs-dropdown-spacer: .125rem;
    --bs-dropdown-font-size: 1rem;
    --bs-dropdown-color: #69707a;
    --bs-dropdown-bg: #fff;
    --bs-dropdown-border-color: #e0e5ec;
    --bs-dropdown-border-radius: .35rem;
    --bs-dropdown-border-width: 1px;
    --bs-dropdown-inner-border-radius: calc(.35rem - 1px);
    --bs-dropdown-divider-bg: #e0e5ec;
    --bs-dropdown-divider-margin-y: .5rem;
    --bs-dropdown-box-shadow: 0 .15rem 1.75rem 0 rgba(33, 40, 50, .15);
    --bs-dropdown-link-color: #212832;
    --bs-dropdown-link-hover-color: #1e242d;
    --bs-dropdown-link-hover-bg: #e0e5ec;
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #dc392d;
    --bs-dropdown-link-disabled-color: #a7aeb8;
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: .25rem;
    --bs-dropdown-header-color: #69707a;
    --bs-dropdown-header-padding-x: 1rem;
    --bs-dropdown-header-padding-y: .5rem;
    position: absolute;
    z-index: var(--bs-dropdown-zindex);
    display: none;
    min-width: var(--bs-dropdown-min-width);
    padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
    margin: 0;
    font-size: var(--bs-dropdown-font-size);
    color: var(--bs-dropdown-color);
    text-align: left;
    list-style: none;
    background-color: var(--bs-dropdown-bg);
    background-clip: padding-box;
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
}
.dropdown .dropdown-toggle {
    display: inline-flex;
    align-items: center;
}